@model Cart_Exam.Models.ViewModels.VerifyResultData
<div class="alert alert-success">
    <h2>عملیات با موفقیت انجام شد</h2>
    <p>@Model.ResCode - @Model.Description</p>
    <p>شماره پیگیری :@Model.RetrivalRefNo </p>
    <p>شماره مرجع :@Model.SystemTraceNo </p>
</div>